{% extends 'accounts/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'accounts/sign_up.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}


<div class="container-fluid">

    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <h6> {{message}} </h6>
        {% endfor %}
    </div>

    {% endif %}

    <div class="row forCentering">
        <div class="col-8 forCentering">


            <form action="{% url 'accounts:sign_up' %}" method="POST">
                {% csrf_token %}
                {% for input in form %}
                <b>{{input.label}}</b><br>
                {{ input }}<br>
                {% endfor %}

                <div class="forCentering" id="submitBtn">
                    <input class="btn btn-success" type="submit" value="Register">
                </div>
            </form>

        </div>
    </div>


</div>
{% endblock %}